/* This is my custom css stylesheet*/

body {
   padding: 70px;
   background-image: url("../images/bg.jpg");
   background-attachment: fixed;
}
footer {
    padding: 2em 0;
    margin: auto;
    text-align: center;
    background-color: #666;
}
h1,h3,h4 {
    color: #fff;
}
a {
    color: #9BF0AC;
}
.thumbnail {
    background-color: #999;
}
.caption {
    background-color: #000;
}
.collapse {
    background-color: #414F50;
}
p,text {
    color: wheat;
}

#schedule {							/* table layout */
    border: 1px solid wheat;
    background-color: #414F50;
    color: #fff;
    text-align: center;
}
#schedule th, #schedule td {
	border: 1px solid wheat;
	color: #fff;
    text-align: center;
}
#schedule {
    width: 100%;
}
h2 {
	text-align: center;
	color: #fff;
}
form {
	padding: 0 30px 30px 30px;
	width: 35%;
	margin: auto;
	color: #fff;
}
form table {
	border: none !important;
	width: 100%;
}
form label {
	vertical-align: text-top;
}
form input {
	width: 100%;
}
form button {
	color: #000;
}
.textarea {
	width: 275px;
	height: 100px;
}
.fullsail img {                             /* footer logo */
    margin: auto;
 }

.glyphicon {
	color: #0EA633;
}
.pull-right.img-responsive {
	margin: 0 0 1em 1em;
}
.btn-info {                                /*button styling*/
	background-color: #0EA633;
	border-color: #3F2B22;
	color: #fff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #3F2B22;
    border-color: #333;
}
.breadcrumb {                               /*breadcrumb styling*/
    background-color:#414F50;
}
.breadcrumb > li + li:before {
    content: none;
}
.breadcrumb > .active {
    color:#fff;
}
.navbar-inverse .navbar-toggle {            /*nav bar styling*/
    color: #fff;
    font-weight: bold;
    border-color: #fff;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: #ddd;
    color: #333;
}
.navbar-inverse .navbar-toggle .glyphicon {
    color: #fff;
}
.navbar-inverse .navbar-toggle:hover .glyphicon {
    color: #333;
}
.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0.8em;
}
.active .glyphicon {
    color: #cdae51;
}
  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 768px) {
		
  }

  @media only screen and (min-width: 768px) and (max-width: 960px) {
	.col-sm-pull-8 {
		right: 0;
		top: -1350px;
	}
	.col-sm-6 {
		width: 43%;
	}
	aside {
		position: absolute;
	}
  }
  
  
  /* #Media Queries
================================================== */
 
  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {

  }
 
  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
	form {
		padding: 0;
		width: 100%;
	}
	form input {
		width: 515px;
	}
	.textarea {
		width: 515px;
		height: 100px;
	}
  }
  
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#logo img {
		margin: auto;
		padding-bottom: 14px;
	}
	.col-xs-6 {
		width: 100%;
	}
	form {
		padding-left: 0px;
	}
	form input {
		width: auto;
	}
	.textarea {
		width: 174px;
		height: 100px;
	}
  }
 
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
	#logo img {
		margin: auto;
		padding-bottom: 14px;
	}
	.col-xs-6 {
		width: 100%;
	}
	form {
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
	}
	form input {
		width: auto;
	}
	.textarea {
		width: 174px;
		height: 100px;
	}
  }